@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color-grey: #b8bcc4;
    --primary-color: #12858F;
    --primary-color-dark: #194046;
    --primary-color-active: #2391a2;
}

* {
    box-sizing: border-box;
    outline: 0;

}

body {
    margin: 0;
    padding: 10;
    background: #00869d;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container.paragrafo-resultado {
    margin-top: 500px;
    background: rgba(62, 11, 145, 0.674);



}

.container {
    max-width: 640px;
    margin: 150px auto;
    background: #efeff0;
    padding: 20px 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.197);
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;

}

form input {
    outline: 2.0px solid var(--primary-color-grey);
    border: 0;

}

form button {
    margin-top: 30px;
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700px;
    height: 50px;
    cursor: pointer;

}

form button:hover {
    background: var(--primary-color-dark);
}

form button:active {

    background: var(--primary-color-active);
}

.paragrafo-resultado,
.bad {
    text-align: center;
    outline: 2.0px solid var(--primary-color-grey);
    border: 0;
    border-radius: 10px;
    background: #a0e7a0;
    padding: 10px 20px;

}


.bad {
    background: rgb(255, 91, 91);
}

.titulo {
    text-align: center;
    color: rgb(84, 84, 84);
}